@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin', sans;
}

:root {
    --background: #c2b19c;
    --orange: rgb(255, 106, 0);
}

body {
    max-width: 100%;
    max-height: 100%;

    background-color: #c2b19c;
};
