@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin', sans;
}

body {
    max-width: 100%;
    max-height: 100%;
}


