
/* ******************************************** */
/* <!-- _____ Start Contact Us Here _____ --> */

#contact__us {
    background-color: rgb(255, 242, 222);

    height: 500px;
    margin: 90px;
    padding: 30px;

    border-radius: 20px;
    align-items: center;
}

#contact__us .contact h1 {
    text-align: center;
    padding-bottom: 30px;
}

#contact__us .contact form label {
    padding-left: 30px;
}


/* Formulário User Name */
#contact__us .contact .form {
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;

    align-items: center;
}

#contact__us .contact #form .form #username {
    width: 400px;   
    height: 35px;

    list-style: none;
    border-radius: 10px;
    display: inline-block;
}

#contact__us .contact .form #username {
    font-size: 20px;
    text-align: center;
}

/* Formulário User E-mail */
#contact__us .contact #form .form #useremail {
    width: 400px;   
    height: 35px;

    list-style: none;
    border-radius: 10px;
    display: inline-block;
}

#contact__us .contact .form #useremail {
    font-size: 20px;
    text-align: center;
}


/* Formulário Message */

#contact__us .contact #message_ label {
    font-size: 18px;
    margin-right: 30px;
}

#contact__us .contact form #message {
    display: inline-block;

    width: 250px;
    height: 150px;

    font-size: 18px;

    list-style: none;
    border-radius: 10px;

    text-align: center;
}

/* Button __"Send yor message now!"__ */
#contact__us .contact #send__message {
    width: 200px;
    height: 30px;
    margin: 150px;
    margin-top: 50px;

    border-radius: 10px;
    border: 10px;
    align-items: center;

    background-color: rgb(255, 106, 0);
    font-weight: bold;
    font-size: 15px;
    color: white;
}

/* <!-- _____ End Contact Us Here _____ --> */
/* *************************************** */
