

/* *************************************** */
/* <!-- _____ Start Footer Here _____ --> */

#footer {
    background-color: rgb(42, 42, 42);

}

/* Footer | Menu's ( Company and Communities ) */
#footer ul li a {
    display: inline;

    list-style: none;
    text-decoration: none;
    padding: 30px;
    font-size: 20px;
    color: rgb(202, 202, 202); /* STOP HERE */
}

/* Footer | Social Midia */
.social__midia {

}

/* Footer | Considerações */
.copy {
    height: 500px;
    text-align: center;
    color: rgb(177, 177, 177);
}

.copy h3 {
    padding-top: 450px;
}

#footer .footer__icons {
    width: 100%;

    list-style: none;
    text-decoration: none;

    align-items: center;

    color: bisque;
}

/* <!-- _____ End Footer Here _____ --> */
/* *********************************** */

