


/* <!-- _____ Start Here _____ --> */

#footer {
    background-color: rgb(42, 42, 42);

}

.copy {
    height: 500px;
    text-align: center;
    color: rgb(177, 177, 177);
}

.copy h3 {
    padding-top: 450px;
}
/* <!-- _____ End Here _____ --> */