
/* <!-- _____ Start Here _____ --> */

#header {
    width: 100%;

    /* background-color: rgb(42, 42, 42); */
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    
    text-align: center;
    position: fixed;
}

.nav__header ul li {
    display: inline-block;
    position: relative;
}

.nav__header ul li a {
    list-style: none;
    text-decoration: none;

    padding: 30px;
    font-size: 25px;
    color: rgb(202, 202, 202);
}

.nav__header ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.nav__header ul li a:active {
    color: brown;
}

/* <!-- _____ End Here _____ --> */