
/* <!-- _____ Start Here _____ --> */

#header {
    background-color: rgb(42, 42, 42);
    padding: 20px;
    text-align: center;
}

.nav__header ul li {
    display: inline-block;
    position: relative;
}

.nav__header ul li a {
    list-style: none;
    text-decoration: none;

    padding: 30px;
    font-size: 20px;
    color: rgb(177, 177, 177);
}

.nav__header ul li a:hover {
    text-decoration: wavy underline;
    font-weight: bold;
}

.nav__header ul li a:active {
    color: brown;
}

/* <!-- _____ End Here _____ --> */